@font-face {
    font-family: "Playwrite";
    src: url("./src/fonts/PlaywriteAUQLD-VariableFont_wght.ttf");
}

:root {
    --branco: #fff;
    --preto: #000;
    --principal: rgb(255, 197, 240);
    --escura: rgb(248, 117, 213);
    --desktopH: 600px;
    --desktopFact: 22px;
}

body {
    display: block;
    margin: 0px;
    font-family: "Playwrite";
}

.main {
    background-color: var(--preto);
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: hidden;
    scroll-behavior: unset;
    height: 100dvh;
    justify-content: space-evenly;
    overflow-y: hidden;
}

.fact-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 30px;
    justify-content: center;
    background-color: var(--principal);
    background-position: center;
    overflow: hidden;
    width: 50dvw;
    height: 70dvh;
    padding: 20px;
    gap: 15px;
    -webkit-user-drag: none;
}

.fact-box-scroll {
    animation: scroll-up 2s linear infinite;
}

.title {
    color: var(--principal);
}

.text {
    margin: 0px;
    font-size: var(--desktopFact);
    color: var(--preto);
    width: 100%;
    max-height: 100%;
    text-align: center;
    -webkit-user-drag: none;
    user-select: none;
}

.btn-new-fact {
    color: var(--branco);
    background-color: var(--principal);
    border: none;
    padding: 5px 20px;
}

.btn-new-fact:hover{
    background-color: var(--escura);
    cursor: pointer;
}

.img {
    position: static;
    background-image: url("https://images.unsplash.com/photo-1573865526739-10659fec78a5?q=80&w=715&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: var(--desktopH);
    border-radius: 30px;
}

@media (max-width: 800px)  {
    .main{
        justify-content: space-evenly;
        flex-direction: column;
        padding: 10px;
    }
    .fact-box {
        width: 80dvw;
    }
    .text {
        width: 100%;
        font-size: 16px;
    }
    .img {
        height: 70%;
        width: 100%;
    }
}

@keyframes scroll-up {
    from {
        position: relative;
        top: 0;
        opacity: 100%;
    }
    50% {
        position: relative;
        top: -200dvh;
        opacity: 0%;
    }
    55% {
        position: relative;
        top: 200dvh;
        opacity: 0%;
    }
    to {
        position: relative;
        top: 0;
        opacity: 100%;
    }
}