:root {
    --branco: #fff;
    --preto: #000;
    --principal: rgb(255, 197, 240);
    --escura: rgb(248, 117, 213);
    --desktopW: 550px;
    --desktopH: 550px;
    --desktopFact: 22px;
}

body {
    display: block;
    margin: 0px;
}

.main {
    background-color: var(--preto);
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100dvh;
    justify-content: space-around;
    overflow: hidden;
}

.fact-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 30px;
    justify-content: space-between;
    background-color: var(--principal);
    background-position: center;
    overflow: hidden;
    height: 90dvh;
    padding: 20px;
    gap: 5px;
    -webkit-user-drag: none;
}

.fact-box-scroll {
    animation: scroll 2s linear infinite;
}

.title {
    color: var(--principal);
}

.text {
    font-size: var(--desktopFact);
    color: var(--branco);
    width: var(--desktopW);
    height: max-content;
    text-align: center;
    -webkit-user-drag: none;
    user-select: none;
}

.btn-new-fact {
    color: var(--branco);
    background-color: var(--principal);
    border: none;
    padding: 5px 20px;
}

.btn-new-fact:hover{
    background-color: var(--escura);
    cursor: pointer;
}

.img {
    background-image: url("https://images.unsplash.com/photo-1573865526739-10659fec78a5?q=80&w=715&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    background-position: center;
    width: var(--desktopW);
    height: var(--desktopH);
    border-radius: 30px;
}

@keyframes scroll {
    from {
        position: relative;
        top: 0;
        opacity: 100%;
    }
    50% {
        position: relative;
        top: -200dvh;
        opacity: 0%;
    }
    55% {
        position: relative;
        top: 200dvh;
        opacity: 0%;
    }
    to {
        position: relative;
        top: 0;
        opacity: 100%;
    }
}