:root {
    --branco: #fff;
    --principal: rgb(255, 197, 240);
    --escura: rgb(248, 117, 213);
    --desktopW: 600px;
    --desktopH: 600px;
    --desktopFact: 22px;
}

body {
    display: block;
    margin: 0px;
}

.main {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100dvh;
    justify-content: space-around;
    overflow: hidden;
}

.fact-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 30px;
    background-color: var(--principal);
    overflow: hidden;
    height: 80dvh;
    padding: 10px;
    gap: 5px;
    overflow: hidden;
}

.fact-box-scroll {
    animation: scroll 1.5s linear infinite;
}

.title {
    color: var(--principal);
}

.text {
    font-size: var(--desktopFact);
    color: var(--branco);
    width: var(--desktopW);
    max-height: var(--desktopH);
    text-align: center;
}

.btn-new-fact {
    color: var(--branco);
    background-color: var(--principal);
    border: none;
    padding: 5px 20px;
}

.btn-new-fact:hover{
    background-color: var(--escura);
    cursor: pointer;
}

.img {
    width: var(--desktopW);
    height: var(--desktopH);
    object-fit: cover;
    image-resolution: initial;
    border-radius: 30px;
}

@keyframes scroll {
    from {
        position: relative;
        top: 0;
        opacity: 100%;
    }
    25% {
        position: relative;
        top: -200dvh;
        opacity: 0%;
    }
    50% {
        position: relative;
        top: 200dvh;
        opacity: 0%;
    }
    to {
        position: relative;
        top: 0;
        opacity: 100%;
    }
}